doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Improving Broadband Internet Service

    link(href='styles/montserrat-font.css', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Improving Broadband Internet Service
        span.tiny-subheader General Policy Committee Meeting
        div.avatar.avatar--small
          img(src='images/logo.gradient.bg.png')
        h3.avatar-name
          a(href='https://connectedgnv.org') Connected Gainesville

        a.floating-link(href="https://goo.gl/OYh7aT") Slides: https://goo.gl/OYh7aT

      section
        h2 Who we are
        p.desc <strong>Connected Gainesville</strong> is a community initiative to bring affordable, high-speed, broadband internet to everyone in our community.

      section
        blockquote.
          “The internet is becoming the town square of the global village of tomorrow.”.
        br
        p
          a(href='https://techcrunch.com/2015/07/15/internet-for-everyone/') Bill Gates


      section
        h2 The Issue
        p.desc Our community lags behind the rest of the state in internet affordability and connectivity.
        p.desc Internet is and will continue to be a necessity in the 21st century

      section
        h2 Internet as a necessity
        p.desc <strong>Some examples:</strong>
        p Students need it for homework
        p Job seekers need it to search
        p Businesses need it to connect with customers

      section
          h2 What is the goal?

      section
        h2 Our goal
        p.desc Enable the best local solutions to solve these problems
        p.desc <strong>Focus:</strong>
        p Bring affordable Broadband to everyone
        p Affordable high-speed options for businesses
        p Gainesville as a preeminent city, <br/><strong>"We could do better"</strong>

      section
        h2 Impact to the city
        p Promote equal access to education and healthcare
        p Bring new jobs
        p Keep our best from leaving
        p Enable smart-city expansion

      section.gif.gif--uf.blur.faded
        h2 What are we asking for?

      section.left
        h2 What are we asking for?
        p A study to find how we can provide:
        div.bullets
          span &#8226 Affordable high-speed internet for everyone in our community
          span &#8226 Low cost options for working poor
          span &#8226 Next generation connectivity for our businesses

      section.left
        h2 What are we asking for?
        p The study should:
        div.bullets
          span &#8226 Review all options for better connectivity.
          span &#8226 Analyze risks, costs, revenue, feasibility, and impact to the community.
          span &#8226 Work with the county, University of Florida, and local municipalities to find a holistic solution.
          span &#8226 Leverage 21st century utility initiative, smart city upgrades, and public service communication updgrades.
        h3.thank Thank You
        p Slides: https://goo.gl/OYh7aT


        // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild