doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Improving Broadband Internet Service

    link(href='styles/montserrat-font.css', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Improving Broadband Internet Service
        span.tiny-subheader General Policy Committee Meeting
        div.avatar.avatar--small
          img(src='images/logo.gradient.bg.png')
        h3.avatar-name
          a(href='https://connectedgnv.org') Connected Gainesville

        a.floating-link(href="http://goo.gl/7SQD6V") Slides: http://goo.gl/7SQD6V

      section
        h2 Who we are
        p.desc <strong>Connected Gainesville</strong> is a community initiative to bring affordable, high-speed, broadband internet to everyone in our community.
        p Show that the community cares about this issue
        p Connect the right influencers to start the conversation

      section
        blockquote.
          "“The Internet is not a luxury, it is a necessity”."
        br
        p
          a(href='https://techcrunch.com/2015/07/15/internet-for-everyone/') Barack Obama
          br
          small ConnectHome, 2015

      section
        h2 The Issue
        p.desc Our community lags behind the rest of the state in internet affordability and connectivity.
        p.desc Since internet access is a necessity in the 21st century this has and will continue to cause problems

      section
        h2 The Issue
        p.desc <strong>Some examples:</strong>
        p School system is going virtual
        p Businesses have trouble with affordable connectivity
        p An expanding 'digital divide'

      section
          h2 What is the goal?

      section
        h2 Our goal
        p.desc Enable the best local solutions to solve these problems
        p.desc <strong>Focus:</strong>
        p Bring affordable Broadband to everyone
        p Affordable high-speed options for businesses
        p Gainesville as a preeminent city, <br/><strong>"We could do better"</strong>

      section
        h2 Impact to the city
        p Promote equal access to education and healthcare
        p Bring new jobs
        p Keep our best from leaving
        p Enable smart-city expansion

      section.gif.gif--uf.blur.faded
        h2 What are we asking for?

      section
        h2 What are we asking for?
        p.desc A study, conducted by the city to find the most practical solutions our community.
        p.desc The city should collaborate with <strong>UF, Alachua County, and other local municipalities</strong> on the study to address this issue community wide.

      section
        h2 What are we asking for?
        p.desc City staff should review potential options, risks, and impact to the community, while keeping local stakeholders involved in the discussion.
        p.desc Find a solution that's sustainable and future-proof

      section
        h2 Successful city models
        p Dig Once policy
        p Streamline permitting processes
        p Open public infrastructure
        p Mandating fiber-ready development
        p Expand public wifi
        p Public/private partnerships
        p Municipal fiber expansion
        br
        br
        h3 Thank You
        p Slides: http://goo.gl/7SQD6V

        // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild